<div class="min-h-screen max-h-screen bg-gradient-to-r from-blue-700 to-green-500">
  <div class="p-12 overflow-hidden h-full">
    <nz-card class="bg-white mb-5" style="box-shadow: #000c17;">
      <header *ngIf="this.router.url !== '/login'">
        <ul nz-menu nzMode="horizontal">
          <li nz-menu-item nzSelected>
            <i nz-icon nzType="mail"></i>
            Navigation One
          </li>
          <li nz-menu-item nzDisabled>
            <i nz-icon nzType="appstore"></i>
            Navigation Two
          </li>
          <li nz-submenu nzTitle="Navigation Three - Submenu" nzIcon="setting">
            <ul>
              <li nz-menu-group nzTitle="Item 1">
                <ul>
                  <li nz-menu-item>Option 1</li>
                  <li nz-menu-item>Option 3</li>
                </ul>
              </li>
              <li nz-menu-group nzTitle="Item 2">
                <ul>
                  <li nz-menu-item>Option 3</li>
                  <li nz-menu-item>Option 4</li>
                  <li nz-submenu nzTitle="Sub Menu">
                    <ul>
                      <li nz-menu-item nzDisabled>Option 5</li>
                      <li nz-menu-item>Option 6</li>
                    </ul>
                  </li>
                  <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                    <ul>
                      <li nz-menu-item>Option 5</li>
                      <li nz-menu-item>Option 6</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-menu-item>
            <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
          </li>
        </ul>
      </header>
    </nz-card>
    <div class="p-2">
        <nz-card class="bg-white p-8">
          <router-outlet></router-outlet>
          <div *ngIf="this.router.url === '/'" class="flex items-center justify-center">
            <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the page you visited does not exist.">
              <div nz-result-extra>
                <button nz-button nzType="primary" routerLink="/dashboard" routerLinkActive="active">Back Home</button>
              </div>
            </nz-result>
          </div>
        </nz-card>
    </div>
  </div>
</div>

